/* gloabal styling */
*{
    margin: 0;
    padding: 0;
}
button{
    background-color: #ff5959;
    padding: 14px 18px 14px 18px;
    border-radius: 5px;
    border: none;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    font-size: 2em;
}
p{
    font-size: 1.2em;
}
/* header section styling */
header{
    background: url(images/banner-img.jpg);
    background-repeat: no-repeat;
    padding: 9em;
    box-shadow: inset 0 0 300px 150px #000000;
}
.banner{
    text-align: center;
    color: white;
}
.banner h1{
    font-size: 4em;
    font-weight: bolder;
}
.banner p{
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* amount section styling */
.amount{
    margin-top: 100px;
}
.amount-heading{
    text-align: center;
}
/* .amount-heading h2{
    font-size: 2em;
}
.amount-heading p{
    font-size: 1.2em;
} */
.taka{
    text-align: center;
    margin-top: 100px;
}
.taka h3{
    display: inline;
    background-color: #fafafa;
    box-shadow: 0 0 15px 0 #c7c7c7;
    border-radius: 5px;
    margin: 10px;
    padding: 40px 35px 40px 35px;
    text-align: center;
    font-size: 1.5em;
}
.taka h3:hover{
    background-color: #ffeeee;
    border: 2px solid #FF5959;
    color: #ff5959;
}
.amount-input{
    margin-top: 100px;
    text-align: center;
}
input[type=text]{
    padding: 10px 215px;
    margin: 25px 0;
    border: none;
    border-bottom: 2px solid #ff5959;
}
.plan-heading{
    margin-top: 100px;
    text-align: center;
}
.plan-card{
    margin: 100px;
    text-align: center;
}
.card1{
    display: inline-block;
    text-align: left;
    padding: 50px;
    margin: 10px;
    background-color: #bdf4fa;
    border-radius: 5px;
}
.card2{
    display: inline-block;
    text-align: left;
    padding: 50px;
    margin: 10px;
    background-color: #ffbebe;
    border-radius: 5px;
}
.card3{
    display: inline-block;
    text-align: left;
    padding: 50px;
    margin: 10px;
    background-color: #fffab6;
    border-radius: 5px;
}

.depand{
    margin: 20px 200px;
}
.depand-text{
    display: inline-block;
}
.depand-text p{
    margin: 20px 0;
}
.depand-image{
    display: inline-block;
    padding-left: 150px;
    padding-top: 50px;
}
.depand-image img{
    width: 380px;
    border-radius: 5px;
}

.survive{
    margin: 50px 200px;
}
.survive-text{
    display: inline-block;
    padding-left: 150px;
}
.survive-text p{
    margin: 20px 0;
}
.survive-image{
    display: inline-block;
    padding-top: 50px;
}
.survive-image img{
    width: 380px;
    border-radius: 5px;
}

.update{
    text-align: center;
    margin-top: 100px;
}
.update-email{
    background-color:#fff4d6;
    margin: 50px 300px;
    padding: 70px 0;
    border-radius: 5px;
}
.update-email form{
    text-align: center;
}
.update-email input[type=email]{
    background-color: rgb(246, 255, 246);
    padding: 14px 70px;
    border: none;
    border-radius: 5px;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 100px 0;
}